font_family      JetBrainsMono Nerd Font
font_size        13.0
symbol_map U+E0A0-U+E0B4 PowerlineSymbols

shell /bin/zsh
shell_integration enabled

map ctrl+v paste_from_clipboard

open_url_with xdg-open
mouse_map left click ungrabbed mouse_handle_click selection link prompt

# Everforest Dark color scheme
foreground            #d3c6aa
background            #1e2326
selection_foreground  #d3c6aa
selection_background  #543a48

# Cursor
cursor            #d3c6aa
cursor_text_color #1e2326

# Black
color0  #232a2e
color8  #343f44

# Red
color1  #e67e80
color9  #e67e80

# Green
color2  #a7c080
color10 #a7c080

# Yellow
color3  #dbbc7f
color11 #dbbc7f

# Blue
color4  #7fbbb3
color12 #7fbbb3

# Magenta
color5  #d699b6
color13 #d699b6

# Cyan
color6  #83c092
color14 #83c092

# White
color7  #859289
color15 #9da9a0
